@model ShowroomManagement.Models.Vehicle

<div class="container mt-4">
    <h1>Vehicle Details</h1>
    <hr />

    <dl class="row">
        <dt class="col-sm-3">Name</dt>
        <dd class="col-sm-9">@Model.Name</dd>

        <dt class="col-sm-3">Brand</dt>
        <dd class="col-sm-9">@Model.Brand</dd>

        <dt class="col-sm-3">Model No</dt>
        <dd class="col-sm-9">@Model.ModelNo</dd>

        <dt class="col-sm-3">Price</dt>
        <dd class="col-sm-9">@Model.Price.ToString("C")</dd>

        <dt class="col-sm-3">Status</dt>
        <dd class="col-sm-9">@Model.Status</dd>
    </dl>

    <a href="@Url.Action("Index", "Vehicle")" class="btn btn-primary">Back to Vehicles</a>
</div>
