@model IEnumerable<ShowroomManagement.Models.Order>

@{
    ViewData["Title"] = "Index";
}
<a href="/Order/SalesReport" class="btn btn-info">View Sales Report</a>

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Vehicle
            </th>
            <th>
                Customer
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPrice)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.Raw(item.Vehicle != null ? item.Vehicle.Name : "<span class='text-danger'>Not Assigned</span>")
                </td>
                <td>
                    @Html.Raw(item.Customer != null ? item.Customer.Name : "<span class='text-danger'>Not Assigned</span>")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalPrice)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info btn-sm">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Delete</a>
                    <a class="btn btn-info btn-sm" asp-action="Invoice" asp-route-id="@item.Id">View Invoice</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<button class="btn btn-secondary" onclick="window.history.back();">
    <i class="bi bi-arrow-left"></i> Go Back
</button>
